.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Verdana", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  height: 50px;
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: center;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;

  border-radius: 4px;
}

.button:focus,
.button:hover {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.button-app {
  background-color: #00ca74;
}

.button-app:focus,
.button-app:hover {
  background-color: #00bc6c;
}

.button-app:active {
  background-color: #00aa62;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.button-presentation {
  background-color: #efc84a;
}

.button-presentation:focus,
.button-presentation:hover {
  background-color: #eab534;
}

.button-presentation:active {
  background-color: #e5a722;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.button-filter {
  color: #000000;
  font-weight: 500;
  background-color: #eeeeee;
}

.button-filter:focus,
.button-filter:hover {
  color: #000000;
  background-color: #dfdfdf;
}

.button-filter:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.button-item:active {
  color: #ffffff;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.main-header {
  background-color: #eeeeee;
  font-weight: 500;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 49px;
  padding-bottom: 18px;
}

.user-navigation {
  position: relative;
}

.user-navigation::before {
  content: "";
  position: absolute;

  top: 5px;
  left: -36px;

  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-navigation a {
  line-height: 30px;
  text-transform: uppercase;

  color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #fb565a;
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation {
  display: flex;
}

.site-navigation li {
  margin-right: 45px;
}

.products-list {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 80px;
}

.products-item {
  width: 300px;
}

.products-item-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.benefits {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.benefits-text-column {
  width: 650px;
}

.benefits-lead {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.benefits-list-title {
  font-weight: 700;
  text-transform: uppercase;
}

.benefits-list {
  line-height: 48px;
}

.benefits-subject-column {
  width: 360px;
}

.benefits-subject {
  color: #000000;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 49px;
}

.benefits-desk {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.benefits-desk dd {
  color: #000000;
  font-size: 45px;
  font-weight: 700;
  text-align: left;
  margin-left: 0;
  margin-bottom: 27px;
}

.benefits-desk dt {
  font-size: 16px;
  line-height: 18px;
}

.partners-wrap {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin-top: 46px;
  margin-bottom: 44px;
}

.contacts {
  line-height: 18px;
  color: #666666;
}

.contacts-title {
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-wrap {
  display: flex;
  justify-content: space-between;
}

.main-title {
  margin-top: 0;
  padding-bottom: 116px;
  font-size: 55px;
  padding-top: 30px;
  line-height: 75px;
  color: #000000;
  font-weight: 500;
  text-align: center;
  background-color: #eeeeee;
}
.filters {
  width: 260px;
}

.filters fieldset {
  border: none;
}

.filters ul {
  line-height: 38px;
  color: #283136;
}

.filters legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-input:not(:disabled):hover + label,
.filter-input:not(:disabled):focus + label {
  color: #283136;
}

.filter-input:disabled + label {
  color: rgba(40, 49, 54, 0.3);
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  width: 790px;
}

.catalog-item {
  width: 360px;
  margin-right: 40px;
  margin-bottom: 33px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item-container {
  background-color: #eeeeee;
}

.catalog-item-title {
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-item-title:hover,
.catalog-item-title:focus {
  color: #fb565a;
}

.catalog-item-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item-text {
  color: #666666;
  line-height: 18px;
}

.contacts a {
  color: #666666;
}

.main-footer-wrap {
  display: flex;
  margin-top: 69px;
  align-items: center;
}

.footer-social {
  display: flex;
  width: 270px;
  margin-right: 139px;
}

.call-to-text {
  font-size: 36px;
  font-weight: 700;
  color: #000000;
  margin: 0;
}

.modal {
  background-color: #ffffff;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.modal h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.modal label {
  font-weight: 700;
}

.appointment-form input[type="text"],
.appointment-form input[type="email"],
.appointment-form input[type="password"],
.appointment-form textarea {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.5);
  border: solid 2px #d7dcde;
  background-color: #ffffff;
}

.appointment-form input:hover,
.appointment-form textarea:hover {
  border: solid 2px #b4b9bb;
}

.appointment-form input:focus,
.appointment-form textarea:focus {
  color: #444444;
  border: solid 2px #000000;
}

.appointment-form input:invalid,
.appointment-form textarea:invalid {
  color: #e74246;
  border: solid 2px #e74246;
}
